.root
  content: 'hello'

.catIcon
  height: 1em
  width: 1em
  display: inline-block
  margin-left: 5px

.dupeGroup
  margin: 0 8px
  display: inline-block

.items
  margin: 0 -8px

.category h3
  margin-bottom: .2em
