$arrowSize = 20px
$stepBorderRadius = 3px

.lol
  content: 'lol'

.stepper
  display: flex
  margin: 0 -10px 30px -10px

.step
  padding: 15px
  margin: 0 10px
  background: #28282B
  color: white !important
  flex: 1
  text-decoration: none
  transition: 150ms ease-in-out all

  clip-path: "polygon(
    0% 0%,
    calc(100% - %s) 0%,
    100% 50%,
    calc(100% - %s) 100%,
    0% 100%,
    %s 50%,
    0 0
  )" % ($arrowSize $arrowSize $arrowSize)
  margin-left: ($arrowSize * -1);
  padding-left: ($arrowSize + 10px);

  &:first-of-type
    clip-path: "polygon(
      0% 0%,
      calc(100% - %s) 0%,
      100% 50%,
      calc(100% - %s) 100%,
      0% 100%
    )" % ($arrowSize $arrowSize)
    margin-left: 10px
    padding-left: 15px
    border-radius: $stepBorderRadius 0 0 $stepBorderRadius

  &:last-of-type
    clip-path: "polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      %s 50%,
      0 0
    )" % ($arrowSize $arrowSize $arrowSize)
    border-radius: 0 $stepBorderRadius $stepBorderRadius 0

  &:hover:not(.activeStep)
    background: lighten(#28282B, 4%)

.activeStep
  composes: step
  background: lighten(#28282B, 15%)
  cursor: default
