.lol
  content: 'lol'

.stepper
  display: flex
  margin: 0 -10px 30px -10px

.step
  padding: 15px
  margin: 0 10px
  background: #1E1E1E
  color: white !important
  flex: 1
  text-decoration: none

.activeStep
  composes: step
  background: #303030
