.root
  content: 'hi'
  display: flex
  align-items: center
  flex-wrap: wrap

.heading
  flex: 1

.transferDrawer
  display: flex
  flex: 0 0 100%
  margin: 0 -10px

.transferCharacter
  display: block
  background: none
  border: none
  appearance none
  font-family: inherit
  font-size: inherit
  flex: 1
  margin: 0 10px
