.root
  display: flex

.icon
  width: 40px
  height: 40px
  display: block
  flex: 0 0 auto

.main
  flex: 1 1 auto
  padding-left: 5px
  font-size: 13px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.sub
  font-size: 11px
  color: darken(#ecf0f1, 20%)
