$sidebarWidth = 256px

.root
  display: flex

  @media screen and (max-width: 1000px)
    display: block

.side
  width: $sidebarWidth
  position: fixed
  top: 0
  left: 0
  overflow: auto
  height: calc(100% - 30px)
  padding: 18px
  box-sizing: content-box

  @media screen and (max-width: 1000px)
    position relative

.heading
  font-family: 'Fira Mono', monospace
  margin-top: 0
  font-size: 20px
  margin-bottom: 30px

.sidebarSpacer
  width: $sidebarWidth
  height: 10px

  @media screen and (max-width: 1000px)
    display: none

.main
  flex: 1
  margin-left: 30px

.perks
  h3
    margin-bottom: 10px

.characterLink
  display: inline-block
  margin-bottom: 15px
  border-radius: 2px
  overflow: hidden

.activeCharacterLink
  composes: characterLink
  box-shadow: 0 0 0 1px rgba(black, .25), 0 0 0 4px #4c4c61
