$sidebarWidth = 256px

.root
  display: flex

  @media screen and (max-width: 1000px)
    display: block

.side
  width: $sidebarWidth
  position: fixed
  top: 0
  left: 0
  overflow: auto
  max-height: 100%
  padding: 18px
  box-sizing: content-box

  @media screen and (max-width: 1000px)
    position relative

.sidebarSpacer
  width: $sidebarWidth
  height: 10px

  @media screen and (max-width: 1000px)
    display: none

.main
  flex: 1
  margin-left: 30px
