.root
  content: 'hi'

.tooltip
  position: fixed
  z-index: 999

._rowBase
  display: grid
  grid-template-columns: 50px repeat(5, 1fr)
  grid-gap: 10px
  border-bottom: 1px solid rgba(white, 25%)

._cellBase
  padding: 5px

  & + &
    border-left: 1px solid rgba(white, 25%)

.headerRow
.itemRow
  composes: _rowBase

.perkCell
.categoryCell
.itemsCell
  composes: _cellBase



.perkIcon
  display: block
  width: 40px
  height: 40px

.perkTooltipContent
  max-width: 210px

.perkDescription
  margin-top: 3px
  font-size: .8em


.helpText
  font-size: 14px
  text-align: center
  opacity: .9
  margin-top: 30px
