.root
  content: 'hi'

.tooltip
  position: fixed
  z-index: 999

._rowBase
  display: grid
  grid-template-columns: 50px repeat(5, 1fr)
  grid-gap: 10px
  border-bottom: 1px solid rgba(white, 25%)

._cellBase
  padding: 5px

  & + &
    border-left: 1px solid rgba(white, 25%)

.headerRow
  composes: _rowBase

.itemRow
  composes: _rowBase

.categoryCell
  composes: _cellBase

.itemsCell
  composes: _cellBase

