.groups
  display: flex
  margin: 0 -15px

.itemGroup
  flex: 1 1 50%
  padding: 0 15px

.searchFilter
  font-size: 14px
  opacity: .9
  display: flex
  align-items: center
  margin-top: 30px

  input
    flex: 1
    background: #28282B
    border: none
    border-bottom: 1px solid lighten(#28282B, 15%)
    appearance none
    padding: 5px
    color: inherit
    margin-left: 15px
    font-family: monospace

