.groups
  display: flex


.itemGroup
  flex: 1

.item
  display: flex
  padding: 5px
  margin: 5px
  font-size: 13px
  border: 1px solid grey
  flex: 1 1 auto
  justify-content: space-between


.dupeGroup
  margin: 0 8px
  display: inline-block

.items
  margin: 0 -8px

.category h3
  margin-bottom: .2em
