.perk
  font-size: 13px
  display: flex
  align-items: center
  padding: 2px 0

  &:first-of-type
    margin-top: 5px

.perkIcon
  height: 1.5em
  width: 1.5em
  margin-right: .5em

.perkSearch
  position relative
  margin-top: 5px
  background: #28292C
  border-radius: 3px
  padding: 8px
  box-shadow: rgba(0, 0, 0, .1) 0 1px 2px 0, rgba(0, 0, 0, .05) 0 3px 6px 2px

.perkName
  flex: 1


.perkAccessory
  display: none

  .perkSelected &
    display: block

.clearButton
  background: none
  font-size: 12px
  width: 1.5em
  height: 1.5em
  position absolute
  top: 6px
  right: 10px
  color: white
  border: none
  display: flex
  align-items: center
  justify-content: center

.closeIcon
  display: inline-block

.perkSearchInput
  appearance none
  background: transparent
  border: none
  border-bottom: 1px solid lighten(#28282B, 15%)
  width: 100%
  font-family: inherit
  color: inherit
  font-size: inherit
  outline: none !important

  &:focus
    border-bottom-color: lighten(#28282B, 25%)
